{%extends 'base.html'%}

{%block body%}
<div class="container-fluid add-hood pt-3">
    <div class="d-flex justify-content-between">
        <div class="add-hood-logo">
            <i class="fa fa-circle fs-5" style='color: #fa6b6b;' aria-hidden="true"></i>
            <span class="fs-4">
                <a href="{{url_for('main_blueprint.home')}}">Logo</a>
            </span>
        </div>
        <div class="add-hood-profile-section pe-5">
            {%if current_user.is_authenticated%}
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="/dashboard"><i class="fa fa-user"></i>Dashboard</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/all_hoods"><i class="fa fa-handshake-o"></i>Hoods</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/auth/logout"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>

                    </ul>
                </li>
            </ul>
            {%endif%}
        </div>
    </div>
</div>

<div class="huria row container-fluid">
    <h2 class="hood-name">{{ hood.name }}</h2>
    <div class="col ">
        <form action="{{url_for('main_blueprint.new_post', id=hood.id)}}" method="POST">
            <input class="btn btn-danger business-btn " type="submit" value="Add Post">
        </form>
        <div class="hood-posts">

            <h3><strong>Post</strong></h3>
            <div class="posts">
                {% for post in posts %}

                <div class="post-card">
                    <p>{{ post.title }}</p>
                    <p>{{ post.content }}</p>
                    <p class="post-content">By: {{ post.author }}</p>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

    <div class="col-md-6 pt-4 pe-5 mb-5">
        <div class="sidebar">

            <div class="hood">
                <div class="row">
                    {%for hood in hoods%}
                    <div class="col-md-7">
                        <div class="card-body">
                            <h6 class="card-text">
                                <span><strong>Members: </strong>{{hood.members}}</span>
                            </h6>
                            <p class="card-text">{{hood.about}}</p>
                            <p class="card-text">Amenities: <small class="text-muted">
                                {{ hood.amenities }}</small></p>
                            <p class="card-text">Administrator: <small class="text-muted">
                                {{ hood.user_id }}</small></p>
                        </div>
                    </div>
                    {%endfor%}
                </div>


                <hr>

                <h5 class="title"><strong>Businesses Around You</strong></h5>
                {% for business in businesses %}
                <div class="business">
                    <h5><strong>Name: </strong>{{ business.name }}</h5>
                    <div class="contacts">
                        <p><strong>Email: </strong>{{ business.email }}</p>
                        <p><strong>Phone: </strong>{{ business.tel }}</p>
                    </div>
                    <p><strong>Description:</strong>
                        {{ business.description }}</p>
                </div>
                {% endfor %}
                <form action="{{url_for('main_blueprint.new_business', id=hood.id)}}" method="POST">
                    <input class="btn btn-danger business-btn" type="submit" value="Add Business">
                </form>
            </div>

        </div>
    </div>
</div>

</div> {%endblock%}