{%extends 'base.html'%}

{%block body%}



<div class="modal" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update a Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype=multipart/form-data method="POST" class="p-3">
                    <div class="mb-3">
                        {{form.hidden_tag()}}
                        {% if form.errors %}
                        {{form.errors['username']}}
                        {{form.errors['password']}}
                        {%endif%}
                    </div>

                    <div class="mb-3">
                        {{form.title.label(class='form-label')}}
                        {{form.title(class='form-control')}}
                    </div>

                    <div class="mb-3">
                        {{form.content.label(class='form-label')}}
                        {{form.content(class='form-control')}}
                    </div>
                    <div class="modal-footer">
                        <div class="mb-3">
                            {{form.submit(class='btn post-btn rounded mt-3')}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block script%}
<script>
    $(document).ready(function(){
        console.log("window is loaded")
        $("#postModal").modal("show")
    })
</script>
{% endblock %}